<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <style>
        body{background-image: url('https://pixelatlas.pixelpasta.xyz/image.png');
    background-size: cover;
background-repeat: no-repeat;
};
mark{background-color: white;}
        </style>

</head>
<body>
    <center>

    <h1 align="center"> <mark style="background-color: white; text-decoration: underline;"> <h1> <mark style="background-color: white; text-decoration: underline;">404</mark></h1>Sorry, But your entered location was not found.
      <br> <a href="./">
  ⬅ Go back </a>
                                <hr color="black"> <mark style="background-color: white;">
                                Website: <a href="https://pixelpasta.github.io" style="color:black">pixelpasta.github.io
</body>
</html>